<h1> Hello this is New Product!</h1>
<!-- logging -->
<!-- <p *ngIf="!(title.valid && price.valid)"> Fix errors to see submit button</p>  -->
<p *ngIf="title['errors']"> Title: {{title['errors']|json}} </p>
<p *ngIf="price['errors']"> Price: {{price['errors']|json}} </p>

<p *ngIf="errors" >{{errors.message}}</p>


<!-- Form fields -->
<input type="text"   name="title" [(ngModel)]="newproduct.title" placeholder="title" 
       minlength="4" maxlength="22" required #title="ngModel" >
<input type="number" name="price" [(ngModel)]="newproduct.price" placeholder="price" 
       min=1 max=15000 required #price="ngModel">
<input type="text"   name="url"   [(ngModel)]="newproduct.url"   placeholder="url">

<p>
    <button *ngIf="title.valid&&price.valid" class="wipe" (click)="createProduct()"> Create </button>
    <button class="wipe"(click)="clearForm()" style="margin-left:20px">Cancel</button>
</p>
